body {
  font: normal 1rem Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.container {
  border: 2px solid grey;
  margin: 0 auto;
  width: 64%;
}

section {
  padding: 0 1.25em;
}

h1 {
  color: #ce4a4a;
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  color: #ce4a4a;
  font-size: 1.25em;
}
h3 {
  color: #ce4a4a;
  font-size: 1rem;
}

section > p {
  line-height: 2.2;
  margin-bottom: 25px;
  margin-bottom: 1.6em;
}


.border {
  border-style: dashed;
  border-color: grey;
  margin-left: 3.1em;
  margin-right: 16.4em;
  padding: 2em;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.inline-margin a {
  margin: 1.9em;
}

.inline-padding a {
  background-color: green;
  color: white;
  padding: 1.9em;
}

.inline-float a {
  border: 3px solid darkgreen;
  float: left;
  margin: 0.9em;
  padding: 1.6em;
  text-align: center;
  width: 3.75em;
}

.block-no-height {
  background-color: dodgerblue;
  color: white;
}

.block-with-height {
  background-color: green;
  color: white;
  height: 3.75em;
  padding: 1.25em;
  margin: 1.25em;
}

.block-with-width {
  background-color: tomato;
  color: white;
  width: 5.6em;
}

.block-with-width-and-height {
  background-color: pink;
  color: white;
  height: 7em;
  padding: 1.25em;
  margin: 1.25em;
  width: 7.5em;
}

.wrapper {
  margin-bottom: 2.2em;
  overflow: hidden;
}

.floating-block-elements {
  padding-bottom: 1.25em;
}

.box-float-left {
  background-color: dodgerblue;
  border: 1px solid red;
  color: white;
  float: left;
}

.box-float-right {
  background-color: tomato;
  border: 1px solid red;
  color: white;
  float: right;
}

.float-width-and-height {
  border: none;
  padding: 1.56em 0;
  text-align: center;
}
.box-float-left.float-width-and-height {
  background-color: tomato;
  width: 40%;
}

.box-float-right.float-width-and-height {
  background-color: dodgerblue;
  width: 50%;
}

.inline-to-block a{
  background-color: dodgerblue;
  display: block;
  margin: 1.66em;
  padding: 1.66em;
  text-align: center;
}

.inline-block a {
  background-color: dodgerblue;
  margin: 1.25em 0.5em 1.56em;
  padding: 1.25em 3.75em;
}

.inline-block {
  margin: 2.19em 4.37em;
}

.floats {
  border-top: 2px dashed grey;
}

.floats h1 {
  text-align: center;
}

.float-box {
  color: white;
  text-align: center;
}
.box1 {
  background-color: tomato;
  box-sizing: border-box;
  float: left;
  padding: 8.3em;
  width: 50%;
}

.box2 {
  background-color: dodgerblue;
  box-sizing: border-box;
  float: right;
  padding: 8.3em;
  width: 50%;
}

.box3 {
  background-color: green;
  clear: both;
  padding: 1.56em;
}

ul {
  font-style: italic;
  margin-bottom: 2.18em;
  padding-left: 5.13em;
}

ul li {
  margin-bottom: 0.8em;
}

.fixed {
  background-color: dodgerblue;
  bottom: 3.13em;
  border-radius: 1em;
  color: white;
  left: 1.56em;
  padding: 2.19em;
  position: fixed;
}

.relative {
  background-color: tomato;
  border-radius: 1em;
  color: white;
  left: -8.33em;
  padding: 1.56em;
  position: relative;
  text-align: center;
  top: 2.19em;
  width: 25%;
}

.absolute-positioning {
  position: relative;
}

.absolute {
  background-color: green;
  border-radius: 1em;
  color: white;
  left: 18.8em;
  padding: 1.56em 1.66em;
  position: absolute;
  text-align: center;
  top: -1.8em;
  width: 15%;
}

