@import url("whitespace-reset.css");

html {
  color: #444;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  /*font-size: calc(1vw + 0.6em);*/
}

/*Navigation */

nav {
  display: none
}

/*Header banner */

header {
  background: url("images/front.jpg") center no-repeat#8AA6E1;
  background-size: cover;
  height: 26em;
  text-align: center;
}

.banner {
  position: relative;
  top: 7.5em;
  width: 100%;
}

.banner img {
  width: 85px;
  height: 85px;
}

header h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: normal;
}

header h2 {
  font-size: 1.53rem;
  font-weight: normal;
  color: white;
}

/* Section */

section {
  text-align: center;
  padding: 4.46em;
  border-bottom: 1px solid #EEE;
  max-width: 68em;
  margin: 0 auto;
}

section h1 {
  font-size: 3.84rem;
  font-weight: 100;
  padding-bottom: 0.6em;
}

p {
  font-size: 1.23rem; /* 16px */
  font-weight: 300;
  margin-bottom: 1.6em;
}

.button {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 0.62em 1.87em;
  text-decoration: none;
}

a {
  color: #008000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: none;
}

/* Speakers */

.speakers ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  grid-row-gap: 15px
}

.speakers li {
  height: 29em;
  width: 21.5em;
  outline: 1px solid #EEE;
  position: relative;
}

.speakers h2 {
  color: green;
  font-weight: 600;
  font-size: 1.92rem;
  padding-bottom: 0.38em;
  padding-top: 1.53em;
}

.overlay {
  background: black;
  color: white;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0 1.15em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.overlay h2 {
  margin-top: 0.3em;
}

.overlay p {
  font-size: 1rem;
  line-height: 15px;
}
.overlay a {
  color: #008000;
  font-weight: bold;
  text-decoration: underline;
}
.overlay:hover{
  opacity: 0.9;
}

/* Schedule */

.schedule-table {
  display: grid;
  grid-template-columns: 1fr;
}

.schedule-item {
  border-top: 1px solid #EFEFEF;
  display: flex;
  flex-wrap: wrap;
}

.schedule-hour {
  flex: 0.5;
  order: 2;
  width: 100%;
  text-align: left;
  font-size: 1.85rem;
  padding: 10px 5px 10px 0;
}

.schedule-event {
  flex: 3;
  order: 3;
  width: 100%;
  text-align: left;
  padding: 10px 0;
}

.schedule-photo {
  flex: 1;
  order: 1;
  width: 100%;
  text-align: left;
  padding: 10px 0;
}

.schedule-photo img {
  width: 80px;
}

.schedule h2 {
  font-size: 1.85rem;
  font-weight: normal;
}

.schedule h3 {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

.schedule a:hover {
  text-decoration: underline;
}

.schedule-tag {
  display: inline-block;
  padding: 0.07em 0.4em;
  font-size: 0.53rem;
  background: #EEE;
  border: 1px solid #AAA;
}

/* Location */

.location p {
  text-align: left;
}

strong {
  font-weight: bold;
}

.location img {
  width: 100%;
  margin-bottom: 30px;
}

/* Call for papers */

.callforpapers p {
  text-align: left;
}

/* Sponsers */

.sponsor-logo-platinum {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-items: left;
}

.sponsors p {
  font-weight: bold;
  text-align: left;
}

.sponsor-logo-gold {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  justify-items: left;
}

/* Footer */

footer {
  background: url("images/people.jpg") center no-repeat#8AA6E1;
  background-size: cover;
  color: #FFF;
  height: 26em;
}

footer h1 {
  font-size: 2.69rem;
  font-weight: 100;
  padding: .618em 0 .618em;
  text-align: center;
}

footer h2 {
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
}

footer p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.banner-footer {
  background: rgba(0,0,0,0.7);
  padding: 10px;
  width: 100%;
}


/******************************

        BIGGER SCREENS

*******************************/

/* circa Ipad size */
@media (min-width: 35em){

  /*Navigation */
  nav {
    background-color: white;
    border-top: 0.76em solid #F5F5F5;
    border-bottom: 1px solid #EEE;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

  nav li {
    padding: 0.76em 2em;
  }

  nav a {
    color: #444;
    text-transform: uppercase;
    font-weight: normal;
  }


  /* Header */
  header {
    height: 35em;
  }
  .banner {
    padding-top: 8em;
    margin: 0 auto;
  }

  .banner h1 {
    font-size: 5.54rem;
  }
  .banner h2 {
    font-size: 2.38rem
  }

  .banner img {
    width: 80px;
    height: 80px;
  }

  /* Schedule */

  .schedule-item {
    border-top: 1px solid #EFEFEF;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    justify-items: left;
  }

  .schedule-hour {
    grid-column: 1/2;
    order: 1;
    width: 100%;
    text-align: left;
    font-size: 1.85rem;
    padding: 10px 5px 10px 0;
  }

  .schedule-event {
    grid-column: 2/3;
    order: 2;
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  .schedule-photo {
    grid-column: 3/4;
    order: 3;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .schedule-photo img {
    width: 100px;
  }

  .schedule-photo {
    position: static;
  }

  /* Sponsers */

  .sponsor-logo-platinum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
  }

  .sponsor-logo-gold {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
  }

  /* Footer */
  .banner-footer {
    padding-left: 23.7em;
  }
}

@media (min-width: 50em){
  .schedule-photo img {
    width: 130px;
  }

}