@import url("whitespace-reset.css");

html {
  color: #444;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  /*font-size: calc(1vw + 0.6em);*/
}


/*Navigation */

nav {
  display: none
}

.banner {
  top: 0;
}

/*Header banner */

header {
  background: url("images/front.jpg") center no-repeat#8AA6E1;
  background-size: cover;
  height: 26em;
  margin-bottom: 4.5em;
  text-align: center;
}

.banner {
  position: relative;
  top: 7.5em;
  width: 100%;
}

.banner img {
  width: 85px;
  height: 85px;
}
header h1 {
  color: white;
  font-size: 3.5rem;
  /*font-size: 40px;*/
  font-weight: normal;
}

header h2 {
  font-size: 2.4rem;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

/* Section */

section {
  text-align: center;
  padding-bottom: 4.46em;
  border-bottom: 1px solid #EEE;
  max-width: 68em;
  margin: 0 auto;
}

section h1 {
  font-size: 3.84rem;
  font-weight: 100;
  padding-bottom: 0.6em;
}

p {
  font-size: 1.23rem; /* 16px */
  font-weight: 300;
  margin-bottom: 1.6em;
}

.button {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 0.62em 1.87em;
  text-decoration: none;
}

/* Speakers */

.speakers ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  grid-row-gap: 15px
}

.speakers li {
  height: 29em;
  width: 21.5em;
  outline: 1px solid #EEE;
}

.overlay {
  display: none;
}


/* circa Ipad size */
@media (min-width: 35em){
  nav {
    background-color: white;
    border-top: 0.76em solid #F5F5F5;
    border-bottom: 1px solid #EEE;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

  nav li {
    padding: 0.76em 2em;
  }

  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav a:hover {
    text-decoration: underline;
  }

  header {
    height: 35em;
  }
  .banner {
    padding-top: 8em;
    margin: 0 auto;
  }

  .banner h1 {
    font-size: 72px;
  }
  .banner h2 {
    font-size: 31px;
  }

  .banner img {
    width: 80px;
    height: 80px;
 }
}
