@import url("whitespace-reset.css");

html {
  background-color: #ffd505;
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  margin: 0 22%;
}

header {
  background-color: #047ec1;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  margin-bottom: 1.8em;
  padding: 1.9em 0 1.9em 1.5em;
}

header h1 {
  font-size: 2.4rem;
  color: white;
  font-weight: bold;
}

main {
  background-color: #ececec;
}

h2 {
  font-size: 2rem;
  padding-left: 0.8em;
  padding-top: 0.8em;
}

ul {
  display: grid;
  grid-gap: 0.8em;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.6em;
}

li {
  background-color: white;
  padding: 0.93em;
}

img {
  height: 160px;
  display: block;
  object-fit: contain;
  width: 100%;
}

h3 {
  padding-top: 1.4em;
}