@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

html{
  font: normal 20px "Avenir", sans-serif;
  text-align: center;
  background-color: white;
}

/*********
   Header
**********/
header {
  background-image: url("images/bg_body.gif");
}

header, main, footer {
  width: 1199px;
  /*margin: 0 auto;*/
}

header {
  padding-top: 6.7em;
  text-align: center;
}

header img {
  display:inline-block;
  margin: 0 auto;
}

header nav {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;
}

header nav li {
  padding: 4.3em 1.5em 1.8em;
}

header nav a {
  color: #cacaca;
  text-transform: uppercase;
}

header nav .active {
  color: #6db9ff;
  font-weight: 600;
}

/*********
   Main
**********/
main {
  background-color: white;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 1em;
  text-align: center;
}

h2::before, h2::after {
  content: "\2022";
  font-size: 1.4rem;
  padding: 0 1.3rem 0 1.2rem;
}

main {
  padding-bottom: 3.5em;
}

main > h2 {
  padding-top: 3.3em;
  padding-bottom: 0;
}

main p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

main article {
  padding: 5.3em 9.5em 0;
  outline: 1px solid red;
}

h3 {
  color:#3e59b2;
  font-size: 1.2rem;
  font-weight: 900;
  padding-bottom: 1.2rem;
  text-align: center;
}

/*********
   Footer
**********/
footer {
  background-color: #e7e7e7;
  color: #c5c5c5;
  padding: 1.5em 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 9em;
}

footer p {
  padding: 1.9em;
}

footer ul {
  padding-bottom: 1.9em;
}

/* 4 footer icons in one fixed image : sprite map */
footer li a {
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
  display: block;
  height: 46px; /* make squares */
  overflow: hidden;
  text-indent: -8685px; /*hiding text by pushing it of the page */
  width: 46px; /* make squares */
}

footer li .facebook {
  background-position: 0 -46px;
}

footer li .email {
  background-position: 0 -92px; /* 2 times 46 */
}

footer li .instagram {
  background-position: 0 -138px;  /* 3 times 46 */
}

a {
  text-decoration: none;
}