body {
  background-color: lightyellow;
}

p {
  font-size: 24px;
}

h1 {
  color: orange;
  text-align: center
}

strong {
  color: blue;
  text-decoration: underline;
}

em {
  color: red;
}

.more-text{
  color: grey;
}

#final-paragraph{
  text-decoration: underline;
}