/* resets and presets */
html {
  box-sizing: border-box;
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Article */
article {
  border: 2px solid black;
  margin-left: 1px;
  padding: 10px 15px 0 15px;
  width: 678px;
}

/*******************
   Header
*******************/

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}

h2 {
  border-top: 30px solid black;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  margin: 5px 0;
  padding: 10px 0 6px 0;
}


/*******************
   Aside
*******************/

aside {
  font-size: .9rem;
}

ul {
  font-size: 25px;
  margin: 0;
  padding: 15px 15px 15px 15px;
}

li {
  list-style: none;
  position: relative;
}

li:before {
  content: "*";
  left: -15px;
  position: absolute;
}

/*******************
  all tables
*********************/
table {
  border-collapse: collapse;
  width: 100%;
}


tr:first-of-type {
  border-bottom: 1px solid grey;
}

td {
  border-bottom: 1px solid grey;
}

td:last-of-type {
  text-align: right;
}

/* calories table */
table:nth-child(2) td:nth-child(1) {
  width: 1%;
}

table:nth-of-type(2) {
  border-top: 15px solid black;
  border-bottom: 20px solid black;
}

/* nutriens table */

table:nth-child(3) tr > td:first-child:nth-last-child(n+3)
{
  width: 20px;
  border-bottom: none;
}

/* amounts table */
table:last-of-type {
  font-size: .8rem;
}

table:last-of-type td {
  border-bottom: none;
}

table:last-of-type td:last-of-type {
  text-align: left;
}

table:last-of-type tr > td:first-child:nth-last-child(n+5)
{
  width: 20px;
}


